@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  color-scheme: light dark;
  --main-white: #FFFFFF;
  --black-text: #02060E;
  --blue-primary: #4783EB;
  --blue-primary-hover: #2563eb;
  --blue-primary-2: #8CB2F2;
  --blue-primary-3: #7DA4E8;
  --blue-secondary: #E4E9F1;
  --blue-secondary-2: #EDF1F7;
  --blue-secondary-3: #E6E9F0;
  --blue-secondary-4: #E6EFFE;
  --green: #4AEB46;
  --green-darker: #18B814;
  --green-2: #E7FEE6;
  --green-3: #F4FAF4;
  --compelement: #EBB646;
  --warning: #EB4A46;
  --warning-2: #FEE7E6;
  --stroke: #CCCCCC;
  --white-secondary: #F2F2F2;
  --white-secondary-2: #E6E6E6;
  --white-secondary-3: #D9D9D9;
  --white-secondary-5: hsl(0, 0%, 50%);
  --white-secondary-4: #666666;
  --shadow-1: rgb(15, 23, 36, 0.1);
  --shadow-2: rgb(15, 23, 36, 0.25);
  --backdrop: rgb(15, 23, 36, 0.5);
  --black-90: rgb(2, 6, 14, 0.9);
  --black-80: rgb(2, 6, 14, 0.8);
  --blue-80: rgb(209, 220, 240, 0.80);
  --blue-75: rgb(209, 220, 240, 0.75);
  --blue-2-75: rgb(217, 226, 242, 0.75);
  --blue-25: rgb(209, 220, 240, 0.25);
  scroll-behavior: smooth;
  interpolate-size: allow-keywords;
}

::selection {
  background-color: var(--blue-80);
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

button:disabled {
  opacity: 0.3;
  pointer-events: none;
}

body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: clamp(0.9375rem, 1rem, 1.125rem);
  color: var(--black-text);
}

p {
  line-height: 1.5;
}

button {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.15s;
}

.input-field {
  padding: 0.5em 1em;
  border-radius: 0.625em;
  border: 1px solid var(--stroke);
  background: var(--white-secondary);
  color: var(--black-text);
  outline: none;
  box-shadow: 0 0 5px var(--shadow-1) inset;
  width: 20%;
  min-width: 20ch;
  transition: 0.1s;
}

.input-field:focus {
  border: 2px solid var(--blue-primary-3);
}

.input-field-time {
  position: relative;
  padding: 0.25em 0.75em;
  max-width: fit-content;
}

.fade-in-animation {
  animation: fade-in 350ms forwards;
}

.fade-out-animation {
  animation: fade-out 350ms forwards;
}

.fade-in-fixed-height-animation {
  animation: fade-in-fixed-height 350ms forwards;
}

.fade-out-fixed-height-animation {
  animation: fade-out-fixed-height 350ms forwards;
}

@media (prefers-reduced-motion: no-preference) {

  @keyframes fade-out {
    to {
      height: 0;
      opacity: 0;
      transform: scale(0.95);
      filter: blur(5px);
    }
  }

  @keyframes fade-in {
    from {
      height: 0;
      opacity: 0;
      transform: scale(0.95);
      filter: blur(5px);
    }
  }

  @keyframes fade-out-fixed-height {
    to {
      transform: scale(0.95);
      filter: blur(5px);
      opacity: 0;
    }
  }

  @keyframes fade-in-fixed-height {
    from {
      transform: scale(0.95);
      filter: blur(5px);
      opacity: 0;
    }
  }
}